<section class="hero-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="hero-text">
                  <h1>ScDev A Luxury Hotel</h1>
                  <p>Here are the best hotel booking sites, including recommendations for international
                      travel and for finding low-priced hotel rooms.</p>
                  <a href="#" class="primary-btn">Discover Now</a>
              </div>
          </div>
          <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
              <div class="booking-form">
                  <h3>Register</h3>

                  <form (ngSubmit)="registerUser()">
                    <div class="check-date">
                      <label for="date-in">Firstname</label>
                      <input type="text"  class="form-input" name="Firstname" id="Firstname" [(ngModel)]="registerUserData.firstname" requared >

                  </div>
                  <div class="check-date">
                    <label for="date-in">Lastname</label>
                    <input type="text" class="form-input" name="Lastname" id="Lastname" [(ngModel)]="registerUserData.lastname">

                </div>

                      <div class="check-date">
                          <label for="date-in">Gmail</label>
                          <input type="email" class="form-input" name="email"  id="email" [(ngModel)]="registerUserData.email">

                      </div>
                      <div class="check-date">
                          <label for="date-out">Password</label>
                          <input type="Password" class="form-input" name="Password" id="Password" [(ngModel)]="registerUserData.password">
                      </div>
                      <div class="check-date">
                        <label for="date-out">Confermer Password</label>
                        <input type="Password" class="form-input" name="password_confirmation" id="password_confirmation" [(ngModel)]="registerUserData.password_confirmation">
                    </div>
                      <div class="text-warning">

                        <a class="text-warning" href="/Login">Déja Cree compte?</a>
                      </div>


                      <button type="submit">Register</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="hero-slider owl-carousel">
      <div class="hs-item set-bg" data-setbg="/assets/img/hero/hero-4.jpg"></div>
      <div class="hs-item set-bg" data-setbg="/assets/img/hero/hero-5.jpg"></div>
      <div class="hs-item set-bg" data-setbg="/assets/img/hero/hero-6.jpg"></div>
  </div>
</section>
