<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Rating</th>
        <th>Price</th>
        <th> Detailles</th>
        <th>Reserve</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let ROOM of ROOMS
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <th scope="row">{{ ROOM.id }}</th>
        <td>{{ ROOM.name }}</td>
        <td>{{ ROOM.type }}</td>
        <td>{{ ROOM.rating}}</td>
        <td>{{ ROOM.price}} DH</td>
        <td> <button type="button" routerLink="/Detalles/{{ROOM.id}}"
          class="btn btn-sm btn-clean  btn-success  btn_table_show"

matTooltip="Detalles">Detalles Reserve</button></td>
<td> <button type="button" routerLink="/Reserver/{{ROOM.id}}"
  class="btn btn-sm btn-clean  btn-clean  btn_table_show"

matTooltip="Detalles">Reserve</button></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
